* {
    box-sizing: border-box;
    margin: 0;
  }

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 10px solid white;
}

header div {
    background-color: #e866ec;
    height: 140px;
    width: 500px;
    border-right: 5px solid #6aec66;
}

.brand {
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
}

.photo {
    background-image: url(../css/images/avatar.JPG);
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
    display: flex;
}

h1 {
    color: black;
    padding-top:25px;
    padding-left: 30px;
    font-size: 60px;
    text-shadow: 5px 5px 10px #6aec66;
}

nav {
    padding-right: 100px;
}

nav ul li {
    display: inline;
    color: #e866ec;
    padding: 10px;
    font-size: 30px;
}

.hero {
    height: 200px;
    background-image: url(../css/images/rainbow.jpg);
    background-position: center;
    text-align: end;
    padding-top: 70px;
    padding-right: 20px;
    font-size: 30px;
    color: #6aec66;
    border-bottom: 10px solid white;
}

section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 12px;
}

#about-me {
    padding-top: 20px;
}

#work {
    padding-top: 20px;
}

#contact-me {
    padding-top: 30px;
}

.dani {
    font-size: 20px;
    color: white;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%);
      border-radius: 10px;
      padding: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}
    
.thumbnail {
    transition: 0.5s;
}

.thumbnail:hover { 
    transform: scale(1.1); 
}

.projects figure {
    width: 50%;
    padding-right: 30px;
}

figure.first {
    width: 100%;
}

figcaption {
    position: relative;
    bottom:44px;
    color: white;
    background-color: #e866ec;
    width: 150px;
    padding-left: 5px;
}

.projects img {
    height: 100%;
    width: 100%;
}
    
.box {
   width: 100%;
 }
      
.cover {
    object-fit: cover;
}
      
.content {
    width: 80%;
    padding-left: 30px;
}
    
.content ul li {
    display: inline;
    color: #e866ec;
    padding: 10px;
    font-size: 20px;
}

.title {
  width: 20%;
  color: white;
  border-right: 5px solid white;
  text-align: right;
  padding-right: 10px;
  text-shadow: 5px 5px 10px #e866ec;
}

.projects img:hover {
  box-shadow: inset 0px 0px 40px #e866ec, 0 0 40px #e866ec;
}

.bottom {
    background-color: black;
    height: 100px;
    border-top: 10px solid #6aec66;
}

li a:hover, li:hover {
    color: white;
}

a:link {
    color: #e866ec;
}

a:visited {
    color: #e866ec;
}

@media screen and (max-width:1100px) {

    h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 600px) {
    section {
        width: 90%;
        flex-direction: column;
    }

    #contact-me {
        padding-top: 0;
    }

    nav ul li {
        font-size: 20px;
        width: 100px;
        padding: 0;
        display: list-item;
        list-style: none;
    }

    .content ul li {
        font-size: 15px;
    }

    .title {
        width: 100%;
        border-right: none;
        border-bottom: 5px solid white;
    }

    .content {
        width: 100%;
    }
  
    .projects figure {
        width: 100%;
    }

    .bottom {
        height: 120px;
    }

  }